<div class="row">
    <form action="{{url}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s8">
                <input id="title" type="text" class="validate" name="title" value="{{model.title}}">
                <label for="title">Название</label>
            </div>
            <div class="input-field col s4">
                <input id="date" type="text" class="datepicker" name="date" value="{{model.date}}">
                <label for="date">Дата</label>
            </div>
            <div class="col s12">
                <textarea id="text" class="validate input-field" name="text">
                    {{model.text}}
                </textarea>
                <label for="text">Текст</label>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Сохранить</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {});
  });
</script>